<div class="jumbotron">
    <h1>Интерактивный учебник</h1>
    <p>Здесь вы можете изучить <span class="text-danger">материал</span> и <span class="text-danger">проверить</span> свои занния.</p>
    <p>Данный сервис создан для быстрого создания и оценки зананий по любым темам.</p>
    <p>Приложение состоит из двух частей:</p>
    <ul>
        <li>Учебно-методическое пособие</li>
        <li>Раздел оценки полученных знаний</li>
    </ul>
    <p>Вы можете загрузить материалы в формате Microsoft Word, а на выходе получить интерактивный учебник и средства контроля полученных знаний, для этого необходимо проверить содержание документа определенному <a ng-href="">формату</a> </p>

    <p>Вы можете использовать сервис для самоконтроля или для контролья качества изученного материала студентами</p>

    <p></p>
    <p></p>

    <a ui-sref="teach" class="btn btn-primary">Изучить материал</a>
    <a ui-sref="test" class="btn btn-danger">Пройти тестирование</a>
</div>

<div ui-view></div>