<div class="row">
    <div class="col-md-4">
        <sidebar-menu items="$ctrl.lessons"></sidebar-menu>
    </div>
    <div class="col-md-8">
        <h1>Содержание курса</h1>
        Title: {{$ctrl.title}}
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut debitis dignissimos, eligendi eos est,
            eveniet, ipsum magnam magni maiores obcaecati odio omnis pariatur quisquam quos rem soluta velit voluptates
            voluptatibus!
        </p>
        <p>Architecto atque autem consequuntur culpa, dolore eaque est ipsam iste minus modi nesciunt nihil obcaecati
            optio, praesentium quasi reiciendis repudiandae sed soluta sunt suscipit temporibus velit vero vitae
            voluptas voluptatibus!
        </p>
        <p>At commodi laborum necessitatibus non voluptatem? Consequatur deserunt eaque ipsum magni nam obcaecati,
            quisquam ratione reiciendis tempora veritatis! Autem dolorum fugit maxime nemo nisi? Beatae eligendi nulla
            quae tempora ullam?
        </p>
        <p>Animi, distinctio dolore eaque, earum eos esse est labore magnam minima modi mollitia, nobis omnis porro
            quisquam ratione reiciendis rerum similique ullam? Beatae cum distinctio eveniet natus praesentium sunt
            veniam.
        </p>
        <p>Beatae, fuga nam! Debitis delectus earum, et illo minima molestiae nemo perspiciatis praesentium ratione
            sed. Aliquam deserunt distinctio dolores fuga inventore ipsum itaque, maiores porro quidem, sapiente,
            similique ullam unde?
        </p>
    </div>

</div>



